/*------
start header 
------------*/
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color:rgb(66, 93, 38);
    padding: 50px;
}

 header{
    font-family: 'Roboto', sans-serif;
    background-color:brown;
}

nav ul{
    display: flex;
    margin-left: 50px;
}
.float{
    float: right;
}


nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    color: skyblue;
    font-size: 30px;
}

nav li:hover{
   background-color:white;

} 

span{
    justify-content: space-between;
}

section{
    height: 500px;
    padding-bottom: 5px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color:skyblue;
}
.half-width img{
    width: 100%;
}

.half-width img:hover{
    transition:width 5s ease,width 5s ease;
    width: 400px;
    height: 400px;
    transform: rotate(2s);
    
}
/*---------
header end
-------------*/
/* @media (max-width:992px){
    .all-players{
        grid-template-columns: repeat(2, 1fr);
        }
    .blogs{
         grid-template-columns: repeat(1, 1fr);
        }
    }
    @media only screen and (max-width:668px){
        .all-players{
            grid-template-columns: repeat(1, 1fr);
            width:100%
            }
         .blog{
             display: block;
         }   
        } */
/*-----------
Main section start
---------------- */

main{
    display:grid;
}

.all-players{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   width: 80%;
   grid-gap: 10px 10px;
   margin-left: 144px;
   border-radius: 10px;
}
    


.img-style{
    width:100%;
    height:50%;

}

.Card{
    margin:10px;
    box-sizing:border-box;
    box-shadow:1px 2px 5px black;
    border-radius: 10px;
    
}

.card-body{
    padding:5px;


}

.card-title{
    font-size:2rem;
    text-align:center;
}
.pra{
    text-align: justify;  
    background-color: cornsilk;
}

.Card:hover{
    box-shadow:6px 12px 10px brown;
    padding:10px;

}
/*---------
main section end
--------*/


/*-------- 
section start 
----------------*/


h1{
    font-size: 50px;
    
}
 

section{
    display: flex;
    margin-bottom: auto;
}

.div{
    width: 50%;
    padding-left: 50%;
}
.div1 img{
    max-width:600px;
    height: 500px;
    
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(88, 6, 10),rgb(212, 9, 26));
    padding: 10px 40px;
    border-radius: 5px;
    color:black;
    font-weight: 700;
}

.section1{
     background-color: beige;
    text-align: center;
    background-repeat: no-repeat;
    padding: 1%;
}

/*------------
section end
-------------- */


/*--------
   footer start
------------- */
 .img{
     padding: 40px;
     height:100px;
     max-width:200px;
     position:50px;
    
 }

 .imge{
    padding:5px;
    height:50px;
    max-width:100px;
    background-position: center;
   
}

footer{
    text-align: center;
}

section{
    text-align: center;
}

/*-------------
   Footer end 
   --------------- */
/*------------
 MEDIA content 
 ----------------- */
 @media only screen and (max-width:668px){
    .all-players{
        grid-template-columns: repeat(1, 1fr);
        width:100%
        }
     .blog{
         display: block;
     }